<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kat Kasino</title>
    <link rel="stylesheet" href="./static/kasino.css"
  </head>
  <body>
    <div class="container">
      <a href="/" class="header">Kat Kasino</a>
      <h2 class="name">{{name}}</h2>
      <img class="img" src="{{img}}" alt="Cat" width="250" height="250" />
      <p class="desc">{{desc}}</p>
      <a href="/kasino" class="spin">Spin Again?</a>
    </div>
  </body>
</html>
